PUBLIC_WALINE_SERVER_URL=https://waline-blog-52ba32yin-dansuhens-projects.vercel.app
PUBLIC_WALINE_LANG=jp

# Google Analytics (GA4 Measurement ID)
PUBLIC_GOOGLE_ANALYTICS_ID=G-XXXXXXXXXX
# Plausible Analytics
PUBLIC_PLAUSIBLE_DOMAIN=example.com
PUBLIC_PLAUSIBLE_SCRIPT_URL=https://app.pageview.app/js/script.js
# Google AdSense (Publisher ID)
PUBLIC_ADSENSE_CLIENT=ca-pub-XXXXXXXXXXXXXXXX
