---
import dayjs from "dayjs";
import utc from "dayjs/plugin/utc";
import timezone from "dayjs/plugin/timezone";

import { SITE } from "@/config";

dayjs.extend(utc);
dayjs.extend(timezone);

type Props = {
  class?: string;
  pubDatetime: string | Date;
  timezone?: string;
  modDatetime?: string | Date | null;
};

const {
  pubDatetime,
  modDatetime,

  class: className = "",
  timezone: postTimezone,
} = Astro.props;

/* ========== Formatted Datetime ========== */
const isModified = modDatetime && modDatetime > pubDatetime;

const datetime = dayjs(isModified ? modDatetime : pubDatetime).tz(
  postTimezone || SITE.timezone
);

const date = datetime.format("YYYY.MM.DD"); // e.g., '2026.05.24'
---

<div class:list={["flex items-center gap-x-1 opacity-60", className]}>
  {
    isModified && (
      <span class="text-xs">Updated:</span>
    )
  }
  <time
    class="text-xs"
    datetime={datetime.toISOString()}>{date}</time
  >
</div>
